[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=WarpLocal
GenericName=TerminalEmulator
GenericName[zh_CN]=终端模拟器
Comment=The cloud-backed terminal for individuals and teams
Comment[zh_CN]=面向个人和团队的云端支持终端

Exec=warp-terminal-local %U
StartupWMClass=dev.warp.WarpLocal

Keywords=shell;prompt;command;commandline;cmd;
Keywords[zh_CN]=shell;提示符;命令;命令行;cmd;终端;

Icon=dev.warp.WarpLocal

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for warplocal:// URLs.
MimeType=x-scheme-handler/warplocal;
